.site-entry {
	padding: 10px;
	margin: 10px;
	border: 1px solid #eee;
	overflow: hidden;
}

.details {
	padding-top: 5px;
	overflow: hidden;
}

.left {
	float: left;
}

.right {
	float: right;
}

div.status {
	color: white;
	padding: 12px;
}
 
div.status-alert {
	background-color: #c0392b;
}

div.status-normal {
	background-color: #27ae60;
}

div.status-unknown {
	background-color: #7f8c8d;
}
