.login-container {
	background-color: #1abc9c;
	position:absolute;
    top:0; right:0;
    bottom:0; left:0;
}

.site-entry {
	padding: 10px;
	margin: 10px;
	border: 1px solid #eee;
	overflow: hidden;
}

.details {
	padding-top: 5px;
	overflow: hidden;
}

.left {
	float: left;
}

.right {
	float: right;
}

div.status {
	color: white;
	padding: 12px;
}
 
div.status-alert {
	background-color: #e74c3c;
}

div.status-normal {
	background-color: #2ecc71;
}

div.status-unknown {
	background-color: #bdc3c7;
}
