h1 { 
	color: #377ba8;
	font-family: 'Georgia', serif; 
	margin: 0; 	
}

h1, #content {
	border-bottom: 2px solid #eee; 
}

#content, #sidebar, #sitelist {
	padding: 0.7em;
}

#sidebar, #sitelist {
	border: 1px solid #eee;
}

#sidebar {
  width: 250px;
  float: left;
}

#sitelist {
  margin-left: 290px;
}

