<!DOCTYPE HTML>
<html>
	<head>	
		<title>webcheck</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">		
	</head>
	
	<body>		
	<div id="header">
		<div class="left"><h1>webcheck</h1></div>
		<div class="right"><a href="#" />logout</a></div>
	</div>

	<div id="content">
		<div id="sidebar">
			<b>Add website</b>
			<form name="addsite" method="POST">
				Url: <input type="text" name="url"><input type="submit" value="Add">
			</form>
		</div>
		
		<div id="sitelist">
			<ul class=entries>
			{% for site in sites %}
			<div class="site">
				<b><a href="{{ site.url }}" target="_blank">{{ site.url }}</a></b>
				<br />
				<div class="details">
				<div class="left"><b>Last check:</b> {{ site.last_check }}</div>
				<div class="right"><a href="#">Edit</a> <a href="#">Delete</a> {{ site.status_code }}</div>				
				</div>
			</div>
			{% else %}
			<em>No sites so far...</em>
			{% endfor %}
			</ul>	
		</div>
	</div>
	
	<div id="footer">
		<p class="footertext">ver 0.1</p>
	</div>	
	</body>
	
</html>
