<!DOCTYPE HTML>
<html>
	<head>	
		<title>webcheck</title>
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">	
		
		<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/flat-ui.css') }}">	
	</head>
	
	<body>		
	
	<div class="container">
		
		<div class="demo-headline">
			<h1>webcheck</h1>
			<a href="#" />logout</a>
		</div>

		<div class="row">
			<div class="span3">
				<b>Add website</b>
				<form name="addsite" method="POST">
					<input id="input-url" type="text" name="url" placeholder="url"><a id="addlink" href="#" class="btn btn-large btn-primary">Add site</a>
				</form>
			</div>
			
			<div id="sites-list" class="span8 offset">		
				{% for site in sites %}
				<div id="site-entry{{ site.id }}" class="site-entry">
					<b><a href="{{ site.url }}" target="_blank">{{ site.url }}</a></b>
					<br />
					<div class="details">
						<div class="left">
							<b>Last check:</b> 
							<br />
							{{ site.last_check }}
						</div>						
						<div class="right">
							 {{ site.status_code }} 
							 <a id="edit-site{{ site.id }}" href="#" class="btn btn-mini btn-warning">Edit</a> 
							 <a id="delete-site{{ site.id }}" href="#" class="btn btn-small btn-danger">Delete</a>
						</div>	
					</div>
				</div>					
				{% else %}
				<div id="no-site-entry">
					<em>No sites so far...</em>
				</div>
				{% endfor %}			
			</div>			
			
		</div>
		
	</div>
	
	<footer>
		<div class="container">
			<div class="row">
			<h3 class="footer-title">ver 0.1</h3>
			</div>
		</div>
	<footer>	
	
	<script src="{{ url_for('static', filename='js/jquery-1.10.2.min.js') }}"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			var FADE_INOUT_TIME = 500;

			$('#addlink').click(function() {
				var url = document.getElementById('input-url').value;

				$.ajax({
					type: "POST",
					contentType: "application/json; charset=utf-8",
					url: "/add",
					data: JSON.stringify({ url: url }),
					success: function(data) {
						var id = data.site.id;
												
						if ($("#no-site-entry")){
							$("#no-site-entry").fadeOut(FADE_INOUT_TIME, function(){ 
								$(this).remove();
							});
						}
						
						$.get("site/" + id, function(data) {
							$("#sites-list").append(data);
							$("#site-entry" + id).hide().fadeIn(FADE_INOUT_TIME);
						});	
						
					},
					dataType: "json",
				});
			});

			$(document).on("click", '.btn-danger', function(e) {				
				var id = e.target.id.replace("delete-site", "");

				$.ajax({
					type: "DELETE",
					url: "/delete/" + id,	
					success: function()	{

						$("#site-entry" + id).fadeOut(FADE_INOUT_TIME, function(){ 
							$(this).remove();
						});
						
					},	
				});
			});

		});
	</script>
	</body>
	
</html>
