					<div id="site-entry{{ site.id }}" class="site-entry">
						<a id="url-link{{ site.id }}" href="{{ site.url }}" target="_blank"><b>{{ site.url }}</b></a>
						<br />
						<div class="details">
							<div class="left">
								<b>Last check:</b> 
								<br />
								<div id="last-check{{ site.id }}">{{ site.last_check }}</div>
							</div>						
							<div class="right">
								<div class="row">
									{% if site.status_code == "200" %}
									<div id="status-code{{ site.id }}" class="span1 status status-normal">
									{% elif site.status_code == "Unknown" %}
									<div id="status-code{{ site.id }}" class="span1 status status-unknown">
									{% elif site.status_code == "Offline" %}
									<div id="status-code{{ site.id }}" class="span1 status status-alert">
									{% else %}
									<div id="status-code{{ site.id }}" class="span1 status status-alert">
									{% endif %}								
										{{ site.status_code }}
									</div>
									<div class="span2">
										<a id="edit-site{{ site.id }}" href="#" class="edit-button btn btn-mini btn-primary">Edit</a> 
										<a id="delete-site{{ site.id }}" href="#" class="delete-button btn btn-mini btn-primary">Delete</a>
									</div>
								</div>
							</div>	
						</div>
					</div>
